:root {
    --white: #fff;
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #7e62ca;
}

.container{
    border: solid rgb(0, 0, 0) 1px;
    width: 50%;
    margin: auto;

}

h1{
    text-align: center;
}
#task-btn{
    margin: auto;
    display: block;
}

#todo-box{
    display: none;
    justify-content: center;
    width: 100%;
}

#todo-box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    background-color: #0ed9be;
}

.cancel-submit{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.todo{
    width: 100%;
    border: solid 1px blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.todos p{
    display: inline-block
}

.todo span{
    margin-left: auto;
    margin-right: 5px;
}

.fa-check-circle{
    display: none;
}

.todo:hover .fa-circle {
    display: none; /* Hides the regular circle icon */
}

.todo:hover .fa-check-circle {
    display: inline-block; /* Displays the check-circle icon */
}



/* Apply rounded styles to input with background color */
input {
    padding: 5px;
    border: none;
    color: black;
    border-radius: 10px; /* Set border radius for rounded corners */
    /* background-color: #248484; Set background color */
  }
  
  /* Optional: Add focus styles */
  input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
  }
  
  #add-todo{
    background-color: blue;
    color: white;
  }

  #cancel-form{
    background-color: red;
    color: white;
  }
  