:root {
    --black: #282828;
    --purple: #9171f8;
    --light-purple: #ba9ffb;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--black);
}

main{
    border: solid white 1px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-content{
    display: flex;
    height: 100vh;
}

aside{
    border: solid white 1px;
    flex-basis: 15%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    justify-self: flex-end;
    display: flex;
}

nav h1 {
    text-align: center;
    flex-grow: 1;
}

.container{
    border: solid white 1px;
    display: flex;
    width: 100%;
    flex-basis: 85%;
    flex-direction: column;
}

h1,h3{
    text-align: center;
    color: #9171f8;
    padding: 10px;
}

#task-btn{
    margin: 10px auto 10px auto;
    display: block;
}

#todo-box{
    display: none;
    justify-content: center;
    width: 100%;
}

#todo-box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    background-color: var(--light-purple);
}

.title-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancel-submit{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.todo{
    width: 100%;
    border: solid 1px blue;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #ba9ffb;
    
}

.todo-footer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    
}
.todo-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-header div{
    display: flex;
    
}

.todos p{
    display: inline-block
}



.todo {
    
    margin-right: 5px;
}

.fa-check-circle{
    display: none;
}

.todo:hover .fa-circle {
    display: none; /* Hides the regular circle icon */
}

.todo:hover .fa-check-circle {
    display: inline-block; /* Displays the check-circle icon */
}



/* Apply rounded styles to input with background color */
input {
    padding: 5px;
    border: none;
    color: black;
    border-radius: 10px; /* Set border radius for rounded corners */

    background-color: #ba9ffb; /* Set background color */
  }
  
  /* Optional: Add focus styles */
  input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
  }
  
  #add-todo{
    background-color: blue;
    color: white;
  }

  #cancel-form{
    background-color: red;
    color: white;
  }
  